:root {
    --primary-color: #f805bf;
    --secondary-color: #024e76;
    --tertiary-color: #03ef32;
}
* {
    margin: 0;
    padding: 0;
    background-color: black; 
}

body {
    color: var(--tertiary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: 10px 50px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size:auto;
    background-position: 100%;
    z-index: 9999;
    margin-right: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  header h1 {
    font-weight: bold;
    background-color: var(--tertiary-color);
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 0 0 5px rgba(137, 78, 126, 0.5);
  }
  
  header a {
    text-decoration:wavy;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
/* HEADER / NAV BAR STYLES END*/

/* STYLE ALL SECTION TAGS */
section {
    padding: 25px;
}

/* HERO STYLES START */
.hero {
    background-color: var(--tertiary-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

  }
.hero div h2, .hero div p {
    width: 100%;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding-right: 50px;
}
.hero div h2 {
  padding-top: 150px;
  font-size: 35px;
}

.hero div p {
  font-size: 25px;
}
.hero div img {
  width: 300px;
  height: 400px;
}
/* HERO STYLES END */

/* SECTION TITLE STYLES START */
.section {
    font-size: 36px;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: Left;
    width: 80%;
  }

.section h2 {
  padding-bottom: 25px;
}

.section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
}
.section div article{
min-width: 375px;
max-width: 375px;
padding: 15px;
padding-left: 25px;
border-width: 10px;
border-style: groove;
border-color: var(--secondary-color);
}
.section h3 {
  font-style: italic;
  color: var(--tertiary-color);
}
.section ul {
  list-style: none;
  color:var(--primary-color)
}
  /* SECTION TITLE STYLES END */

