:root {
    --primary-color: #f6f1f5;
    --secondary-color: #8105e7;
    --tertiary-color: #820289;
    --bottom-padding: 25px;
}

a:active {
  text-decoration: none;
  color: var(--primary-color);
}

a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

a:link {
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    background-color: black; 
}

body {
    color: var(--tertiary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: var(--bottom-padding) 50px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-size:auto;
    background-position: 100%;
    z-index: 9999;
    margin-right: 0;
    position: sticky;
    position: -webkit-sticky;
  }
  header h1 {
    font-weight: bold;
    background-color: var(--tertiary-color);
    margin: 0;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 5px 4px 5px #222222;
  }
  
  header a {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.9vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
/* HEADER / NAV BAR STYLES END*/

/* STYLE ALL SECTION TAGS */
section {
    padding: var(--bottom-padding);
}

/* HERO STYLES START */
.hero {
    background-color: var(--tertiary-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

  }

.hero div h2, .hero div p {
    width: 100%;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding-right: 50px;
}
.hero div h2 {
  padding-top: 150px;
  font-size: 35px;
}

.hero div p {
  font-size: 25px;
  font-style: italic;
}
.hero div img {
  width: 300px;
  height: 400px;
}
/* HERO STYLES END */

/* SECTION STYLES START */
.me {
    font-size: 36px;
    color: var(--secondary-color);
    text-align: Left;
    width: 100%;
  }

.me h2 {
  font-size: 40px;
  padding-bottom: var(--bottom-padding);
}

.me div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 20px;
}

.me article {
  padding: var(--bottom-padding);
  min-width: 275px;
  max-width: 275px;
  min-height: 275px;
  border-width:15px ;
  border-style: groove;
  border-color: var(--secondary-color);
  border-radius: 15px;
}
.me h3 {
  font-size: 26px;
  color: var(--primary-color);
}

.me ul {
  font-size: 18px;
  list-style: none;
  color: var(--tertiary-color);
}

.interests {
  padding-bottom: var(--bottom-padding);
}


.websites h2{
  font-size: 40px;
  color: var(--secondary-color);
  padding-bottom: var(--bottom-padding);

}

.websites div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.websites div article {
  padding: 20px;
  margin: 10px;
  align-items: center;
  overflow: hidden;
}
.websites div article a:hover{
  opacity: .25;
}
.websites h4 {
  width: 100%;
  display: flex;
  text-align: center;
  color: var(--primary-color);
  padding-right: 50px;
  font-size: 30px;
}

.websites img {
  width: 500px; 
  height: 400px
}


.websites p {
  color:var(--tertiary-color);
  font-weight: bolder;
}

.pretty-border {
  padding: 20px;
  display: block;
  border-width: 15px;
  border-style: groove;
  border-radius: 15px;
  border-color: var(--secondary-color);
  
}

#run img {
  width: 800px;
  height: 700px;
  display:flex;

}


.contact {
  color: var(--secondary-color);
  padding-bottom: var(--bottom-padding);
  text-align: Left;
  width: 80%;
}

.contact h2 {
  font-size: 36px;
  padding-bottom: var(--bottom-padding);
}

.contact div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--primary-color);
  font-style: normal;
  font-size: 20px;
}

.contact div a:link {
  color: var(--primary-color);

}
.contact a:hover {
  opacity: .75;
}

.contact p:hover {
  opacity: .75;
}
  /* SECTION  STYLES END */

  /* FOOTER STYLES START */

footer {
  background-color: var(--tertiary-color);
  padding: var(--bottom-padding);
}
footer h2, footer div p{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  background-color: var(--tertiary-color);
  color:var(--primary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1240px) {
/* ABOUT ME */
body {
  overflow-x: hidden;
}
.me h2, .websites h2, .contact h2{
  text-align: center;
}


.me div {
  padding-left: 5px;
  justify-content: center;
}
.me div article {

  margin:0px;
  padding: 15px;
}
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  section {
    padding: 0px;
}
  .hero div img {
    width: 225px;
    height: 300px;

  }
#run {
  width: 500px; 
  height: 400px

}
  .me h2 {
    padding-top: var(--bottom-padding);
  }
  .me div {
    padding-left: 0px;
  }

  .me div article {
    padding-bottom: var(--bottom-padding);

}
  .websites h2 {
    padding-top: var(--bottom-padding);
  }

  .contact {
    padding-left: var(--bottom-padding);
  }

  .contact h2 {
    padding-top: var(--bottom-padding);

  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {
  .hero div img {
    width: 0px;
    height: 0px;

  }
  header {
    position: static;
  }
  .hero div h2, .hero div p {
    text-align: center;
}
  .hero div h2 {
    padding-top: 10px;
}
.me article {
  padding: var(--bottom-padding);
  min-width: 400px;
  max-width:auto;
  min-height: 0px;
  border-width:0px ;
  border-style: none;
  }

  .interests {
    padding-bottom: 0px;
  }

  .websites div article {
    border-width: 0px;
    border-style: none;
    border-radius: 0px;
  }

  .websites h4 {
    display: block;
    margin-left: auto;  
    margin-right: auto; 
  }

  .websites img, #run {
    width: 300px; 
    height: 195px;
    display: block;
    margin-left: auto;  
    margin-right: auto; 
  }

}